:host{
  display: flex;
  flex-direction: column;



  #header {
    display: flex;
    flex-direction: right;
    justify-content: space-between;
    width: 100%;
    .first {
      font: normal normal bold 24px/29px Acumin Pro;
      letter-spacing: 1.8px;
      color: #3B573B;
      opacity: 1;
      margin-top: 75px;
      .divider2{
        width: 60px;
        border-top: 3px solid #F3D145;
        display: inline-block;
        margin-left: 55px;
        margin-right: 10px;
      }
    }
    & :hover {
      // background-color: red;
      // border-top: 3px solid red;
      color :#F3D145;

    }

    .second{
      margin-top: 70px;
      .third {
        margin-bottom: 39px;
        text-align: left;
        font: normal normal bold 12px/14px Acumin Pro;
        letter-spacing: 0.9px;
        color: #375238;
        opacity: 1;

        .divider3 {
          width: 30px;
          border-top: 3px solid #F3D145;
          display: inline-block;
          margin-left: 55px;
          margin-right: 10px;
          align-items: center;

        }
      }
    }


    .SocialMedia {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding-top: 67px;
      padding-right: 60px;
      height: 145px;
    }
  }

  #content {

    .screen1 {

      .milieu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        // margin: auto ;
        margin-left: 30%;
        margin-right: 400px;
        .titre {

          text-align: left;

          font: normal normal 900 140px/120px Acumin Pro;
          letter-spacing: 5.5px;
          color: #FBD848;

          opacity: 0.6;
        }
        .description {

          background: #FFFFFF ;
          opacity: 0.39;
           p {
            text-align: left;
            font: normal normal bold 12px/14px Acumin Pro;
            letter-spacing: 0.9px;
            color: #39553A;
            opacity: 1;
            margin-left: 39px;

            padding-top: 20px;
            margin-bottom: 20px;
           }

        }
        #discover {
          cursor: pointer;
          margin-top: 40px;
          width: 200px;
          height: 38px;
          // background: #F1D145 ;
          text-transform: uppercase;
          color: white;
          line-height: 38px;
          text-align: center;
          letter-spacing: 0.9px;
          font-size: 12px;
          background: linear-gradient(to left, #F3D145 50%, #375238 50%) right;
          background-size: 200%;
          transition: 0s;


          &:hover {
            background-position: left;
            transition: 0.6s ease-out;
          }


        }


      }




    }
    .footer {
      display: flex;
      flex-direction: right;
      justify-content: space-between;
      .fleft {
        margin-left: 70px;
        .fbig {
          text-align: left;
          font: normal normal bold 98px/16px Acumin Pro;
          letter-spacing: 7.35px;
          color: #F1D145;
        }
        .fsmall{
          text-align: left;
          font: normal normal bold 29px/16px Acumin Pro;
          letter-spacing: 2.17px;
          color: #F1D145;

        }
        .fsmally {
          text-align: right;
          font: normal normal bold 29px/16px Acumin Pro;
          letter-spacing: 2.17px;
          color: #375238;
          margin-left: 15px;
        }
      }
      .fright {
        display: flex;
        flex-direction: right;
        padding-right: 60px ;
        margin-bottom: 200px;
        .fimage {
          width: 161px;
          height: 107px;

        }
        .fimage2 {
          width: 116px;
          height: 107px;
          background-color: #F1D145;
          text-align: center ;
          cursor: pointer;
          background: linear-gradient(to left, #F3D145 50%, #375238 50%) right;
          background-size: 200%;
          transition: 0s;
          line-height: 107px;
          color: white;
          &:hover {
            background-position: left;
            transition: 0.6s ease-out;
          }

        }

      }
    }

  }


}

