<div id="header">

    <div class="first">
      <div class="divider2"></div>
      <span> Our Products</span>
    </div>

    <div class="second">
      <div class="third">
        <div class="divider3"></div>
        <span> Pineapples</span>
      </div>
      <div class="third">
        <div class="divider3"></div>
        <span> Strawberries</span>
      </div>
      <div class="third">
        <div class="divider3"></div>
        <span> Apples</span>
      </div>
      <div class="third">
        <div class="divider3"></div>
        <span> Citrus</span>
      </div>
    </div>


    <div class="second">
      <div class="third">
        <div class="divider3"></div>
        <span> Cauliflowers</span>
      </div>
      <div class="third">
        <div class="divider3"></div>
        <span> Tomatoes</span>
      </div>
      <div class="third">
        <div class="divider3"></div>
        <span> Eggplants</span>
      </div>
      <div class="third">
        <div class="divider3"></div>
        <span> Carotts</span>
      </div>
    </div>


    <div class="SocialMedia">

      <img src="assets/twitter.png">
      <img src="assets/youtube.png">
      <img src="assets/instagram.png">
      <img src="assets/facebook.png">
    </div>
</div>


<DIv id="content">
  <div class="screen1">
    <div class="milieu">

      <div class="titre">
        <SPAn> Our fruits <br></SPAn><span>& vegetables</span>  <br> are<span style="color: #39553A;"> organic.</span>
      </div>

      <div class="description">
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
      </div>

      <div id="discover"> Discover</div>

    </div>



  </div>



</DIv>

