<div id="navbar">
  <img
    src="assets/logoRabbit.png"
    style="margin-top: 60px; width: 69px; height: 57px;"
    srcset="../assets/logoRabbit@2x.png">

  <img src="assets/panier.png">

  <div class="divider"></div>

  <div id="hamburgerContainer" (click)="toogleMenu()">
    <img *ngIf="isMenu"  src="assets/hamburger.png" >
    <img *ngIf="!isMenu" src="assets/croix.png">
  </div>


  <div class="divider"></div>

  <img src="assets/shear.png">

  <div id="company-name" style="margin-bottom: 60px;">
    <span>ORGA</span>
    <SPan>BITS</SPan>
  </div>

</div>

<div id="expansion" [ngClass]="{ expend: isMenu}">

  <div class="first" style="margin-top: 75px;">
    <div class="divider2"></div>
    <span>Our vegetables</span>
    <div class="second">
      <div class="third">
        <div class="divider3"></div>
        <span> Pineapples</span>
      </div>
      <div class="third">
        <div class="divider3"></div>
        <span> Strawberries</span>
      </div>
      <div class="third">
        <div class="divider3"></div>
        <span> Apples</span>
      </div>
      <div class="third">
        <div class="divider3"></div>
        <span>Citrus</span>
      </div>
    </div>
  </div>

  <div class="first">
    <div class="divider2"></div>
    <span> Our vegetables</span>
    <div class="second">
      <div class="third">
        <div class="divider3"></div>
        <span> Cauliflowers</span>
      </div>
      <div class="third">
        <div class="divider3"></div>
        <span> Tomatoes</span>
      </div>
      <div class="third">
        <div class="divider3"></div>
        <span> Eggplants</span>
      </div>
      <div class="third">
        <div class="divider3"></div>
        <span> Carotts</span>
      </div>
    </div>
  </div>


  <div class="first" style="padding-top: 0%;">
    <div class="divider2"></div>
    <span> Our vision</span>
  </div>
  <div class="first">
    <div class="divider2"></div>
    <span> Contact us</span>
  </div>


</div>
